body{
    overflow: hidden;
}
.container{
    border: 1px solid black; 
    width: 95%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.quotes{
    width: 800px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    color: blue;
    background-color: antiquewhite;
    border: 10px solid sandybrown;
}

.quotes p, .quotes h3{
    font-size: 1.5rem;
}

@media(max-width:480px){
    .quotes p,
        .quotes h3 {
            font-size: 1rem;
        }
}
.container h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: colorchange 5s infinite alternate;
}
@keyframes colorchange{
    0%{
        color: indigo;
    }
    20%{
        color: blue;
    }
    40%{
        color: green;
    }
    60%{
        color: yellow;
    }
    80%{
        color: orange;
    }
    100%{
        color: red;
    }
}