*{
    font-family: Digital-7;
    margin : 0 ;
    padding : 0 ;
    box-sizing : border-box ;
}
body {
 height : 100vh ;
 background : linear-gradient(to right,#ff9472 ,#f2709c ) ;
 display : flex ;
 align-items : center ;
 justify-content : center ;
} 
h1{
    text-align: center;
    color: #fff;
    font-size: 5rem;
    /* margin-bottom: 50px; */
}
.Clock {
    width : 550px ;
    height : 150px ;
    display : flex;
    align-items : center ;
    justify-content : space-between;
}
.Clock h1{
    background-color : #fff ;
    height: 100% ;
    width : 150px ;
    display : flex ;
    align-items : center ;
    justify-content : center;
    font-size : 60px ;
    color : #202020 ;
    border-radius : 5px ;
    box-shadow : 0 15px 30px rgba( 0 , 0 , 0 , 0.3 ) ;
    Letter-spacing : 3px ;
}
.Clock span{
font-weight : bolder ;
font-size : 5rem ;
color : #fff ;
}